@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    width: 6px;
  }

  .scrollbar-thumb-slate-700::-webkit-scrollbar-thumb {
    background-color: #334155;
    border-radius: 3px;
  }

  .scrollbar-track-slate-900::-webkit-scrollbar-track {
    background-color: #0f172a;
  }
}
